{% extends "layout.html" %}

{% block title %}{{ super() }} | Login {% endblock %}

{% block add_to_navbar %}
<li><a href="/logout">&gt; Back to news &lt;</a></li>
{% endblock %}

{% block content %}

<form class="login" method="POST">
<h1>Login</h1>
<form action="login" method="POST">
<input type="text" name="username" id="username" placeholder="Username"><br>
<input type="password" name="password" id="password" placeholder="Password"><br>
<input type="submit" name="submit" value="Login">
<form>
{% endblock %}

