{% extends "layout.html" %}

{% block title %}{{ super() }} | News{% endblock %}

{% block add_to_navbar %}
{% for f in feeds %}
{% if f['active'] %}
<li><a href="/news?feed={{ loop.index0 }}">{{ f['name'] }}</a></li>
{% endif %}
{% endfor %}
<li><a href="/news/settings">&gt; Settings &lt;</a></li>
{% endblock %}

{% block content %}

{% set feed = feeds[feed_idx] %}
{% set news = news[feed['fid']] %}
<h1>{{ feeds[feed_idx]['name'] }}</h1>
<p>{{ news|length if news is not none else "0" }} items, updated at {{ feed['updated'] }} [<a href="/news/reload?feed={{ feed_idx }}" style="text-decoration: underline">reload</a>]</p>

{% if news is not none %}
{% set first = True %}
{% for n in news %}
{% if not first %}
<hr>
{% endif %}
<h2><a href="{{ n['link'] }}" target="_blank" rel="noopener noreferrer">{{ n['title'] }}</a></h2>
<p>{{ n['summary'] }}</p>
{% set first = False %}
{% endfor %}
{% endif %}

{% endblock %}

